---
/**
 * @component Header.CustomNavbarCenter
 *
 * @description
 * 自定义导航栏中间内容的Header组件示例，展示如何使用slot自定义中间内容。
 */
import '../style.ts';
import Header from './Header.astro';
import { getExampleImage } from '../utils/image';

const logo = getExampleImage({ width: 100, height: 100, provider: 'picsum', tag: 'tech' });
---

<Header logoHref={logo} rounded="lg" sticky={false}>
	<div slot="navbar-center" class="cosy:flex cosy:items-center cosy:gap-4">
		<span class="cosy:badge cosy:badge-accent">新功能</span>
		<div class="cosy:divider cosy:divider-horizontal"></div>
		<span class="cosy:badge cosy:badge-secondary">热门</span>
		<div class="cosy:divider cosy:divider-horizontal"></div>
		<span class="cosy:badge">推荐</span>
	</div>
</Header>
