/* Prose 引用块样式 */

/* 引用块 */
.prose
:where(blockquote):not(:where([class~='not-prose'], [class~='not-prose'] *)),
.cosy\:prose
	:where(blockquote):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	font-weight: 500;
	font-style: italic;
	border-left-width: 0.25rem;
	border-left-color: var(--tw-prose-quote-borders, #e5e7eb);
	quotes: '\201c' '\201d' '\2018' '\2019';
	margin-top: 1.6em;
	margin-bottom: 1.6em;
	padding-left: 1em;
}

.prose
	:where(blockquote p:first-of-type)::before:not(
		:where([class~='not-prose'], [class~='not-prose'] *)
	),
.cosy\:prose
	:where(blockquote p:first-of-type)::before:not(
		:where([class~='not-prose'], [class~='not-prose'] *)
	) {
	content: open-quote;
}

.prose
	:where(blockquote p:last-of-type)::after:not(
		:where([class~='not-prose'], [class~='not-prose'] *)
	),
.cosy\:prose
	:where(blockquote p:last-of-type)::after:not(
		:where([class~='not-prose'], [class~='not-prose'] *)
	) {
	content: close-quote;
}

/* 水平线 */
.prose :where(hr):not(:where([class~='not-prose'], [class~='not-prose'] *)),
.cosy\:prose
	:where(hr):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	border-color: var(--tw-prose-hr, #e5e7eb);
	border-top-width: 1px;
	margin-top: 3em;
	margin-bottom: 3em;
}
