---
/**
 * @component Error500BasicContainer
 *
 * @description
 * 500错误页面基础示例的容器组件，用于展示代码和预览。
 */
import { CodeContainer } from '../index';
import E500Basic from './E500Basic.astro';
// @ts-expect-error: Astro raw import
import BasicSourceCode from './E500Basic.astro?raw';
---

<CodeContainer
	titles={['500错误页面']}
	descriptions={['基础的500服务器内部错误页面示例']}
	codes={[BasicSourceCode]}>
	<div id="tab-1">
		<E500Basic />
	</div>
</CodeContainer>
