---
/**
 * @component ErrorPageCustomStyleContainer
 *
 * @description
 * 错误页面自定义样式示例的容器组件，用于展示代码和预览。
 */
import { CodeContainer } from '../index';
import EErrorPageCustomStyle from './EErrorPageCustomStyle.astro';
// @ts-expect-error: Astro raw import
import CustomStyleSourceCode from './EErrorPageCustomStyle.astro?raw';
---

<CodeContainer
	titles={['自定义样式错误页面']}
	descriptions={['展示如何自定义错误页面的样式外观']}
	codes={[CustomStyleSourceCode]}>
	<div id="tab-1">
		<EErrorPageCustomStyle />
	</div>
</CodeContainer>

