---
import Layout from '../layouts/Layout.astro';
import Logo from '../assets/logo.png';
import { Footer, Header, Hero } from '~';
---

<Layout title="Welcome to Cosy UI">
	<Header logo={Logo} />

	<main class="min-h-screen pt-24">
		<Hero
			links={[
				{ text: 'Home', href: '/' },
				{ text: 'About', href: '/about' },
			]}
			title="Welcome to Cosy UI"
			description="This is a demo of the Cosy UI library."
		/>
	</main>

	<Footer
		logo={Logo}
		siteName="Coffic"
		homeLink="/"
		icp="粤ICP备20240321号-1"
		slogan="用爱创造软件"
		company="Coffic Organization"
		copyright="Coffic"
		inspirationalSlogan="永远保持好奇心"
		socialLinks={[
			'https://github.com/cofficlab',
			'https://twitter.com/cofficlab',
			'https://linkedin.com/in/cofficlab',
		]}
		aboutLink="https://coffic.zone.id"
		contactLink="https://github.com/CofficLab/FeedbackHub"
		termsLink="https://coffic.zone.id/en/meta/terms"
		privacyLink="https://coffic.zone.id/en/meta/privacy"
		products={[
			{
				name: 'Coffic',
				href: 'https://coffic.zone.id',
				external: true,
			},
			{
				name: 'Cisum',
				href: 'https://coffic.zone.id/cisum',
				external: true,
			},
			{
				name: 'Cosy',
				href: 'https://coffic.zone.id/cosy',
				external: true,
			},
		]}
	/>
</Layout>
