---
import { LinkUtil } from '../../utils/link';
const baseUrl = LinkUtil.getBaseUrl();
const path = Astro.url.pathname;

interface Error404Props {
	debugKVs: Record<string, string>;
}

const { debugKVs = {} } = Astro.props as Error404Props;
---

<div class="flex flex-col items-center justify-center h-screen">
	<div class="flex flex-col justify-center items-center min-h-[50vh] text-center">
		<h1 class="mb-4 font-bold text-4xl">404 - 页面未找到</h1>
		<p class="mb-8 text-lg">抱歉，您要找的文档不存在。</p>
		<p class="mb-8 text-lg">路径：{path}</p>
		{
			Object.entries(debugKVs).map(([key, value]) => (
				<p class="mb-8 text-lg">
					{key}: {value}
				</p>
			))
		}
		<a href={baseUrl} class="btn btn-primary"> 返回首页 </a>
	</div>
</div>
