---
import { CodeContainer } from '../index';
import CardWithImage from './ECardWithImage.astro';
import CardWithImageSourceCode from './ECardWithImage.astro?raw';
---

<CodeContainer codes={[CardWithImageSourceCode]}>
	<div id="tab-1">
		<CardWithImage />
	</div>
</CodeContainer>
