---
import ThemeItem from './ThemeItem.astro';
---

<div class="cosy:w-48 cosy:space-y-2">
	<ThemeItem theme="light" label="浅色主题" />
	<ThemeItem theme="dark" label="深色主题" />
	<ThemeItem theme="cupcake" label="糖果主题" />
	<ThemeItem theme="dracula" label="德古拉主题" />
</div>
