/* 菜单样式 */

.menu {
	min-width: 8rem;
	overflow-y: auto;
	border-radius: 1rem;
	background-color: var(--base-100);
	padding: 0.5rem;
}

.menu li > * {
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	font-size: 0.875rem;
}

.menu li > *:hover {
	background-color: var(--base-200);
}

.menu li > *.active {
	background-color: var(--primary);
	color: var(--primary-content);
}
