---
import { Speak } from '../../index';
import avatar from '../../assets/logo-rounded.png';
---

<div class="cosy:max-w-md">
	<Speak
		speakerName="张三"
		speakerTitle="产品经理"
		image={avatar}
		words="这个组件库的设计非常优雅，使用起来非常方便，完全满足了我们的需求！"
	/>
</div>
