---
interface Props {
	href: string;
	external?: boolean;
	class?: string;
}

const { href, external = false, class: className = '' } = Astro.props;
---

<a
	href={href}
	class={`link link-hover ${className} no-underline hover:no-underline`}
	{...external ? { target: '_blank', rel: 'noopener noreferrer' } : {}}>
	<slot />
</a>
