---
import Button from './Button.astro';

interface Props {
	theme: string;
	label: string;
}

const { theme, label } = Astro.props;
---

<Button
	variant="ghost"
	size="sm"
	block
	class="text-left justify-start"
	data-set-theme={theme}
>
	{label}
</Button>

