---
import { CodeContainer } from '../index';
import ButtonWidth from './ButtonWidth.astro';
import ButtonWidthSourceCode from './ButtonWidth.astro?raw';
---

<CodeContainer codes={[ButtonWidthSourceCode]}>
	<div id="tab-1">
		<ButtonWidth />
	</div>
</CodeContainer>
