---
import Button from './Button.astro';
---

<div class="cosy:flex cosy:flex-wrap cosy:gap-2">
	<Button>正常按钮</Button>
	<Button disabled>禁用按钮</Button>
	<Button loading>加载中</Button>
	<Button variant="primary" loading>加载中</Button>
	<Button variant="success" disabled>禁用成功按钮</Button>
	<Button variant="error" loading>处理错误中</Button>
</div>
