---
import { CodeContainer } from '../index';
import ButtonBasic from './ButtonBasic.astro';
import ButtonBasicSourceCode from './ButtonBasic.astro?raw';
---

<CodeContainer codes={[ButtonBasicSourceCode]}>
  <div id="tab-1">
  <ButtonBasic/>
  </div>
</CodeContainer>
