---
import Button from './Button.astro';
---

<div class="cosy:flex cosy:items-center cosy:gap-2">
	<Button size="xs">超小按钮</Button>
	<Button size="sm">小型按钮</Button>
	<Button size="md">中等按钮</Button>
	<Button size="lg">大型按钮</Button>
</div>

<div class="cosy:mt-4 cosy:flex cosy:items-center cosy:gap-2">
	<Button size="lg" wide>宽按钮</Button>
	<Button block>块级按钮</Button>
</div>
