---
import { CodeContainer } from '../index';
import ButtonShapes from './ButtonShapes.astro';
import ButtonShapesSourceCode from './ButtonShapes.astro?raw';
---

<CodeContainer codes={[ButtonShapesSourceCode]}>
	<div id="tab-1">
		<ButtonShapes />
	</div>
</CodeContainer>
