---
import { CodeContainer } from '../index';
import ButtonWithIcons from './ButtonWithIcons.astro';
import ButtonWithIconsSourceCode from './ButtonWithIcons.astro?raw';
---

<CodeContainer codes={[ButtonWithIconsSourceCode]}>
	<div id="tab-1">
		<ButtonWithIcons />
	</div>
</CodeContainer>
