@import 'tailwindcss' prefix(cosy);
@plugin "daisyui" {
  themes: light, corporate --default, dark, lemonade, nord, luxury,
    business --prefersdark;
  logs: false;
}

/* 自定义样式 */
@import './src/styles/dot-grid.css';
@import './src/styles/patterns.css';
@import './src/styles/container-muted.css';
@import './src/styles/gradient-glow.css';
@import './src/styles/banner-animations.css';
@import './src/styles/prose.css';

.cosy-shiki-container pre {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 1rem !important;
}
