@import 'tailwindcss' prefix(cosy);
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
  themes:
    light --default,
    corporate,
    dark,
    lemonade,
    nord,
    luxury,
    business --prefersdark;
  logs: false;
}

.cosy-shiki-container pre {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 1rem !important;
}
