---
import { CodeContainer } from '../index';
import AlertBasic from './AlertBasic.astro';
import AlertBasicSourceCode from './AlertBasic.astro?raw';
---

<CodeContainer codes={[AlertBasicSourceCode]}>
	<div id="tab-1">
		<AlertBasic />
	</div>
</CodeContainer>
