---
import { CodeContainer } from '../index';
import AlertCustomStyle from './AlertCustomStyle.astro';
import AlertCustomStyleSourceCode from './AlertCustomStyle.astro?raw';
---

<CodeContainer codes={[AlertCustomStyleSourceCode]}>
	<div id="tab-1">
		<AlertCustomStyle />
	</div>
</CodeContainer>
