---
import Alert from './Alert.astro';
---

<div class="cosy:space-y-4">
	<Alert type="info" title="信息提示"> 这是一条信息提示消息 </Alert>

	<Alert type="success" title="成功提示"> 这是一条成功提示消息 </Alert>

	<Alert type="warning" title="警告提示"> 这是一条警告提示消息 </Alert>

	<Alert type="error" title="错误提示"> 这是一条错误提示消息 </Alert>
</div>
