---
/**
 * @component Alert.Types
 *
 * @description
 * 展示Alert组件的所有类型：info、success、warning、error。
 */
import '../style.ts';
import { Alert } from '../index';
---

<div class="cosy:flex cosy:flex-col cosy:gap-4">
	<Alert type="info">这是一条信息提示</Alert>
	<Alert type="success">这是一条成功提示</Alert>
	<Alert type="warning">这是一条警告提示</Alert>
	<Alert type="error">这是一条错误提示</Alert>
</div>
