---
import { CodeContainer } from '../index';
import AlertWithTitle from './AlertWithTitle.astro';
import WithTitleSourceCode from './AlertWithTitle.astro?raw';
---

<CodeContainer codes={[WithTitleSourceCode]}>
	<div id="tab-1">
		<AlertWithTitle />
	</div>
</CodeContainer>
