---
import { CodeContainer } from '../index';
import HeroAlignCenter from './HeroAlignCenter.astro';
import HeroAlignLeft from './HeroAlignLeft.astro';
import HeroAlignRight from './HeroAlignRight.astro';
import HeroAlignCenterSourceCode from './HeroAlignCenter.astro?raw';
import HeroAlignLeftSourceCode from './HeroAlignLeft.astro?raw';
import HeroAlignRightSourceCode from './HeroAlignRight.astro?raw';
---

<CodeContainer
	titles={['居中对齐', '左对齐', '右对齐']}
	codes={[HeroAlignCenterSourceCode, HeroAlignLeftSourceCode, HeroAlignRightSourceCode]}>
	<div id="tab-1">
		<HeroAlignCenter />
	</div>
	<div id="tab-2">
		<HeroAlignLeft />
	</div>
	<div id="tab-3">
		<HeroAlignRight />
	</div>
</CodeContainer>
